# Python cache
__pycache__/
*.py[cod]
*$py.class

# Node
node_modules

# Database
db.sqlite3

# Logs
*.log

# macOS
.DS_Store
# Environment variables
.env

# Media
upload/

# Security keys
*.pem
*.key
*.p12
*.pfx
*.cert
*.crt
*.jks

# Firebase service account credentials
firebase_service_account.json
*-firebase-adminsdk-*.json

mobile_operations.graphql
fielmedinasousse-firebase-adminsdk-fbsvc-32939c9c5a.jsonvenv/
staticfiles/
